
#clock{
	height:570px;
	width:580px;
	margin:20px auto;
	position:relative;
	.background{
		height:565px;
		width:573px;
		background:url('../images/clock.png') no-repeat center center;
		background-size:cover;

	}
	.second{
		height:244px;
		width: 0;
		position:absolute;
		border-left:2px solid red;
		bottom:50%;
		left:49.2%;
		//animation:rotate1 60s infinite;
		transform-origin:bottom;

	}
	
	.minute{
		background:url('../images/minut_hand.png') no-repeat center top;
		height:235px;
		width: 10px;
		position:absolute;
		bottom:50%;
		left:48.5%;
		// animation:rotate1 80s infinite;
		transform-origin:bottom;
		
	}
	.hour{
		background:url('../images/hour_hand.png') no-repeat center top;
		height:175px;
		width: 10px;
		position:absolute;
		bottom:50%;
		left:48.5%;
		// animation:rotate1 100s infinite;
		transform-origin: bottom;
	}
	.circle{
		border:10px solid black;
		width: 0;
		left:47.6%;
		bottom:48%;
		border-radius:50%;
		position:absolute;
	}
	// @keyframes rotate1{
	// 	100%{
	// 		transform: rotate(360deg);
	// 	}
	// }
	
}